<!DOCTYPE html>
<html ng-app="BBVA_Project">
<head>
    <title>BBVA Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/js/angular-google-maps.js"></script>
    <script type="text/javascript" src="/js/routingConfig.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="/js/angular-cookies.js"></script>
</head>
<body>
<ng-view></ng-view>
</body>
</html>